@font-face {
  font-family: "Special Elite";
  src: url("../fonts/SpecialElite-Regular.woff2") format("woff2"), url("../fonts/SpecialElite-Regular.woff") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Laila";
  src: url("../fonts/Laila-Light.woff2") format("woff2"), url("../fonts/Laila-Light.woff") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Laila";
  src: url("../fonts/Laila-Regular.woff2") format("woff2"), url("../fonts/Laila-Regular.woff") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Laila";
  src: url("../fonts/Laila-Medium.woff2") format("woff2"), url("../fonts/Laila-Medium.woff") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
:root {
  font-size: 18px;
}
@media screen and (max-width: 599px) {
  :root {
    font-size: 14px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Laila", sans-serif;
  font-style: normal;
  line-height: normal;
  min-width: 320px;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.page {
  width: 100vw;
  height: 100vh;
  color: #1d1d1d;
  background-color: #f1f1f1;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
}
@media screen and (max-width: 599px) {
  .container {
    padding: 0 1.5rem;
  }
}

.section-reset {
  padding: 4rem 0;
}
@media screen and (max-width: 599px) {
  .section-reset {
    padding: 2rem 0;
  }
}

.section-title {
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  margin-bottom: 3rem;
}
.section-title .char {
  display: inline-block;
}
@media screen and (max-width: 599px) {
  .section-title {
    font-size: 1.5rem;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header,
.footer,
.section {
  opacity: 0;
}

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
  color: #f1f1f1;
}
.loader::after {
  content: "";
  animation: grain 8s steps(10) infinite;
  background-image: url("images/paper-pattern.png");
  height: 300%;
  width: 300%;
  left: -50%;
  top: -110%;
  opacity: 0.3;
  position: fixed;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
.loader-content {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  z-index: 2;
  color: #f1f1f1;
  font-size: 2rem;
  font-family: "Special Elite", sans-serif;
}
@media screen and (max-width: 599px) {
  .loader-content {
    font-size: 1.5rem;
  }
}

.count {
  line-height: 1;
  padding-right: 0.5em;
}

.copy {
  line-height: 1;
}

.loader-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url("images/giphy.gif");
  background-size: cover;
  z-index: -1;
}
@media screen and (max-width: 599px) {
  .loader-bg {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .loader-bg {
    display: none;
  }
}

.loader-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #930000;
  background-size: cover;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.header__container {
  width: calc(100% - 1.2rem);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  position: fixed;
  background: transparent;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 1;
}
@media screen and (max-width: 599px) {
  .header__container {
    width: calc(100% - 1.7rem);
  }
}
.header__circular-text {
  position: relative;
  z-index: 99;
  top: 0;
  left: 2vw;
}
@media screen and (max-width: 599px) {
  .header__circular-text {
    font-size: 12px;
  }
}
.header__circular-text .text {
  position: absolute;
  font-weight: 500;
  top: -145%;
  left: 53%;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-bento__wrap {
  position: relative;
  z-index: 99999;
  top: -2vh;
  left: 0;
}
.btn-bento__wrap .bento-span {
  position: absolute;
  top: 5px;
  opacity: 0;
  transition-duration: 0.7s;
  text-transform: uppercase;
  display: none;
}
.btn-bento__wrap:hover .bento-span {
  display: inline-block;
  opacity: 1;
  transform: translate(-100px);
}
.btn-bento__wrap:hover .btn-bento, .btn-bento__wrap.on .btn-bento {
  transform: rotate(45deg);
}
.btn-bento__wrap:hover .btn-bento .circle:nth-child(2),
.btn-bento__wrap:hover .btn-bento .circle:nth-child(3),
.btn-bento__wrap:hover .btn-bento .circle:nth-child(4),
.btn-bento__wrap:hover .btn-bento .circle:nth-child(6),
.btn-bento__wrap:hover .btn-bento .circle:nth-child(7),
.btn-bento__wrap:hover .btn-bento .circle:nth-child(8), .btn-bento__wrap.on .btn-bento .circle:nth-child(2),
.btn-bento__wrap.on .btn-bento .circle:nth-child(3),
.btn-bento__wrap.on .btn-bento .circle:nth-child(4),
.btn-bento__wrap.on .btn-bento .circle:nth-child(6),
.btn-bento__wrap.on .btn-bento .circle:nth-child(7),
.btn-bento__wrap.on .btn-bento .circle:nth-child(8) {
  opacity: 0;
}
.btn-bento__wrap.on .bento-span {
  opacity: 0;
  transform: translate(0);
}
.btn-bento__wrap.on .btn-bento .circle:nth-child(5) {
  display: none;
}
.btn-bento__wrap.on .btn-bento .circle:nth-child(9),
.btn-bento__wrap.on .btn-bento .circle:nth-child(1) {
  height: 40px;
}
.btn-bento__wrap.on .btn-bento .circle:nth-child(9) {
  transform: rotate(90deg);
  left: 6px;
  top: -6px;
}
.btn-bento__wrap.on .btn-bento .circle:nth-child(1) {
  transform: rotate(0deg);
  left: 6px;
  top: -6px;
}
.btn-bento__wrap .btn-bento {
  width: 2.5vw;
  height: 2.5vh;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition-duration: 0.3s;
  z-index: 99;
  position: relative;
}
.btn-bento__wrap .btn-bento:hover, .btn-bento__wrap .btn-bento:focus {
  outline: none;
}
.btn-bento__wrap .btn-bento .circle {
  width: 0.3rem;
  height: 0.3rem;
  margin: 0.3rem;
  background: #1d1d1d;
  border-radius: 1rem;
  display: block;
  transition-duration: 0.7s;
  position: absolute;
}
.btn-bento__wrap .btn-bento .circle:nth-child(1) {
  left: 0px;
  top: 0px;
}
.btn-bento__wrap .btn-bento .circle:nth-child(2) {
  left: 12px;
  top: 0px;
}
.btn-bento__wrap .btn-bento .circle:nth-child(3) {
  left: 24px;
  top: 0px;
}
.btn-bento__wrap .btn-bento .circle:nth-child(4) {
  left: 0px;
  top: 12px;
}
.btn-bento__wrap .btn-bento .circle:nth-child(5) {
  left: 12px;
  top: 12px;
}
.btn-bento__wrap .btn-bento .circle:nth-child(6) {
  left: 24px;
  top: 12px;
}
.btn-bento__wrap .btn-bento .circle:nth-child(7) {
  left: 0px;
  top: 24px;
}
.btn-bento__wrap .btn-bento .circle:nth-child(8) {
  left: 12px;
  top: 24px;
}
.btn-bento__wrap .btn-bento .circle:nth-child(9) {
  left: 24px;
  top: 24px;
}

.overlay-container {
  display: none;
}
.overlay-container.active {
  display: block;
  /* or any other display value to show the overlay */
}
.overlay-container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.overlay-container .overlay .block {
  flex: 1;
  height: 100%;
  background: #1d1d1d;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  margin-right: -2px;
  background-image: url("images/paper-pattern.png");
}
.overlay-container .overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1d1d1d;
  padding: 10em 5em;
  font-family: "Special Elite", sans-serif;
}
@media screen and (max-width: 599px) {
  .overlay-container .overlay-menu {
    height: 80vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .overlay-container .overlay-menu {
    height: 80vh;
  }
}
.overlay-container .overlay-menu .item {
  opacity: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  border-bottom: 2px solid #1d1d1d;
  transition: all 0.3s ease-in-out;
}
.overlay-container .overlay-menu .item:nth-child(1) {
  border-top: 2px solid #1d1d1d;
}
.overlay-container .overlay-menu .item:hover {
  gap: 1rem;
}
.overlay-container .overlay-menu .item:hover .img-wrap {
  flex: 0.5;
}
.overlay-container .overlay-menu .item .img-wrap {
  width: 20vw;
  height: 10vh;
  background-color: #1d1d1d;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
  flex: 0;
}
@media screen and (max-width: 599px) {
  .overlay-container .overlay-menu .item .img-wrap {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .overlay-container .overlay-menu .item .img-wrap {
    display: none;
  }
}
.overlay-container .overlay-menu .item .img-wrap .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 599px) {
  .overlay-container .overlay-menu .item .img-wrap .img {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .overlay-container .overlay-menu .item .img-wrap .img {
    display: none;
  }
}
.overlay-container .overlay-menu .item .link {
  text-align: right;
}
@media screen and (max-width: 599px) {
  .overlay-container .overlay-menu .item .link {
    text-align: center;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .overlay-container .overlay-menu .item .link {
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 599px) {
  .home__link-1,
  .projects__link-1,
  .skills__link-1,
  .about__link-1,
  .contacts__link-1 {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .home__link-1,
  .projects__link-1,
  .skills__link-1,
  .about__link-1,
  .contacts__link-1 {
    display: none;
  }
}
.toggle {
  position: absolute;
  top: 40%;
  /* Adjust as needed */
  left: 92%;
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .toggle {
    left: 86%;
    width: 45px;
    height: 45px;
    top: 41%;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .toggle {
    left: 84%;
    top: 25%;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .toggle {
    top: 38%;
  }
}
.toggle .input {
  display: none;
}
.toggle .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms;
}
.toggle .icon-off {
  transition-delay: 200ms;
}
.toggle .icon-on {
  transform: scale(0);
}

#switch:checked + .icon-off {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon-on {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg) translate(-100%, -170%);
}

.hidden {
  display: none;
}

.hero__link-2 {
  border: none;
  background: none;
  cursor: pointer;
}
.hero__link-2:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hero__link-2 .hover-underline-animation {
  padding-bottom: 7px;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 500;
  padding-right: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 599px) {
  .hero__link-2 .hover-underline-animation {
    letter-spacing: 0;
    padding-bottom: 3px;
  }
}
.hero__link-2 .arrow-horizontal {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}
.hero__link-2:hover .arrow-horizontal {
  transform: translateX(0);
}
.hero__link-2:active .arrow-horizontal {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #1d1d1d;
  padding-bottom: 20px;
}
.hover-underline-animation:active {
  color: #930000;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1d1d1d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
@media screen and (max-width: 599px) {
  .hover-underline-animation:after {
    height: 1px;
  }
}

.hero__link-1 {
  position: relative;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid #1d1d1d;
  border-bottom: 5px solid #1d1d1d;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  overflow: hidden;
  transform: translate(0, -3px);
  transition: 0.2s;
  transition-timing-function: linear;
  z-index: 0;
}
@media screen and (max-width: 599px) {
  .hero__link-1 {
    border: 1px solid #1d1d1d;
    border-bottom: 3px solid #1d1d1d;
  }
}
.hero__link-1__icon, .hero__link-1__text, .hero__link-1 {
  transition: all 0.3s ease-in-out;
}
.hero__link-1 .link-1__text {
  transform: translateX(22px);
  color: #1d1d1d;
  font-weight: 500;
}
.hero__link-1 .link-1__icon {
  position: absolute;
  transform: translateX(116px);
  height: 100%;
  width: 2.5rem;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .hero__link-1 .link-1__icon {
    transform: translateX(103px);
  }
}
.hero__link-1 .svg {
  width: 1.5rem;
  fill: #1d1d1d;
}
@media screen and (max-width: 599px) {
  .hero__link-1 .svg {
    width: 1.2rem;
  }
}
.hero__link-1:hover {
  background: #dedede;
  transition: all 0.3s ease-in-out;
}
.hero__link-1:hover .link-1__text {
  color: transparent;
  transition: all 0.3s ease-in-out;
}
.hero__link-1:hover .link-1__icon {
  width: 9rem;
  transform: translateX(8px);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 599px) {
  .hero__link-1:hover .link-1__icon {
    transform: translateX(9px);
  }
}
.hero__link-1:active {
  transform: translate(0, 0);
  border-bottom: 2px solid #1d1d1d;
  transition: all 0.3s ease-in-out;
}

.footer__container {
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__container .copyright {
  border-radius: 0.2rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.grid__box {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  border-radius: 0.4rem;
  transform: scale(0.6);
  transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
  overflow: hidden;
  perspective: 1000px;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .grid__box {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .grid__box {
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .grid__box {
    width: 100%;
  }
}
.grid__box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #1d1d1d;
  background-color: #dedede;
  color: #1d1d1d;
}
.grid__box:hover .grid__box-back {
  transform: rotateX(0deg);
}
.grid__box:hover .grid__box-img {
  scale: 0;
}
.grid__box-front {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
@media screen and (max-width: 599px) {
  .grid__box-front {
    font-size: 12px;
  }
}
.grid__box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6rem 2rem 2rem;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: auto;
}
@media screen and (max-width: 599px) {
  .grid__box-back {
    font-size: 12px;
    padding: 4rem 2rem 2rem;
  }
}
.grid__box-back .grid__box-description {
  text-align: center;
  padding: 5% 0;
}
.grid__box-back .grid__box-link {
  display: flex;
  justify-content: space-between;
}
.grid__box-back .grid__box-link a:hover, .grid__box-back .grid__box-link a:active {
  color: #930000;
}
.grid__box-back .grid__box-link a:active {
  transform: scale(0.9);
}
.grid__box-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  filter: grayscale(75%) blur(3px);
}

.about__container .about__text p {
  text-align: center;
  padding-bottom: 1.1rem;
  font-size: 1.2rem;
}

.card {
  margin: 0 auto;
  padding: 3rem 2rem 2rem;
  background-color: #dedede;
  width: 50%;
  height: 50%;
  box-shadow: 26px 26px 33px #686868;
  border-radius: 0.5rem;
  transition: 0.5s;
  transform: rotateX(-55deg) rotateY(15deg) rotateZ(60deg);
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .card {
    padding: 2rem 1rem 1rem;
  }
}
.card:hover {
  transform: rotate(0deg);
  opacity: 1;
  box-shadow: -26px -26px 33px #686868;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .card {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    opacity: 1;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    pointer-events: none;
  }
}
@media screen and (max-width: 599px) {
  .card {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    pointer-events: none;
  }
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media screen and (max-width: 599px) {
  .contact__container {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .contact__container {
    flex-direction: column-reverse;
  }
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  margin: 0 auto;
  padding: 3rem 2rem 2rem;
  width: 50%;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;
  background: #dedede;
  border-radius: 0.5rem;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.contact-form:hover {
  animation-play-state: paused;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .contact-form {
    width: 100%;
    padding: 1.5rem 0.5rem 0.5rem;
    animation-play-state: paused;
  }
}
@media screen and (max-width: 599px) {
  .contact-form {
    width: 100%;
    padding: 1.5rem 0.5rem 0.5rem;
    animation-play-state: paused;
  }
}

.input-box,
.input-box1 {
  position: relative;
  width: 100%;
}
.input-box .input,
.input-box1 .input {
  width: 100%;
  padding: 0.7rem;
  outline: none;
  border: none;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #1d1d1d;
  border-bottom: 2px solid #1d1d1d;
  transition: 0.3s;
  border-bottom-left-radius: 0.5rem;
}
.input-box .input:valid, .input-box .input:focus,
.input-box1 .input:valid,
.input-box1 .input:focus {
  border: 2px solid #1d1d1d;
  border-radius: 8px;
}
.input-box .input:valid ~ .placeholder, .input-box .input:focus ~ .placeholder,
.input-box1 .input:valid ~ .placeholder,
.input-box1 .input:focus ~ .placeholder {
  transform: translateX(1rem) translateY(-1.5rem);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #1d1d1d;
  letter-spacing: 0.2em;
  color: #f1f1f1;
  border: 2px;
}
.input-box .placeholder,
.input-box1 .placeholder {
  position: absolute;
  left: 0;
  margin-left: 0.4rem;
  padding: 0.7rem;
  pointer-events: none;
  font-size: 0.7rem;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 0.5rem;
}

.btn__form {
  position: relative;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid #1d1d1d;
  border-bottom: 5px solid #1d1d1d;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  overflow: hidden;
  transform: translate(0, -3px);
  transition: 0.2s;
  transition-timing-function: linear;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  .btn__form {
    border: 1px solid #1d1d1d;
    border-bottom: 3px solid #1d1d1d;
  }
}
.btn__form-icon, .btn__form-text, .btn__form {
  transition: all 0.3s ease-in-out;
}
.btn__form .btn__form-text {
  transform: translateX(22px);
  color: #1d1d1d;
  font-weight: 500;
}
.btn__form .btn__form-icon {
  position: absolute;
  transform: translateX(125px);
  height: 100%;
  width: 2.5rem;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .btn__form .btn__form-icon {
    transform: translateX(96px);
  }
}
.btn__form .svg {
  width: 1.5rem;
  fill: #1d1d1d;
}
@media screen and (max-width: 599px) {
  .btn__form .svg {
    width: 1.2rem;
  }
}
.btn__form:hover {
  background: #dedede;
  transition: all 0.3s ease-in-out;
}
.btn__form:hover .btn__form-text {
  color: transparent;
  transition: all 0.3s ease-in-out;
}
.btn__form:hover .btn__form-icon {
  width: 9rem;
  transform: translateX(8px);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 599px) {
  .btn__form:hover .btn__form-icon {
    transform: translateX(-2px);
  }
}
.btn__form:active {
  transform: translate(0, 0);
  border-bottom: 2px solid #1d1d1d;
  transition: all 0.3s ease-in-out;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
.contact-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width: 599px) {
  .contact-wrap {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .contact-wrap {
    width: 100%;
  }
}

.contact__title {
  font-family: "Special Elite", sans-serif;
  font-size: 2.5rem;
}
@media screen and (max-width: 599px) {
  .contact__title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .contact__title {
    font-size: 1.5rem;
  }
}
.contact__title-span {
  color: #930000;
}

.contact-text {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .contact-text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .contact-text {
    font-size: 1rem;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-list .social-item {
  position: relative;
}
.social-list .social-item .social-item__tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #f1f1f1;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 599px) {
  .social-list .social-item .social-item__tooltip {
    display: none;
  }
}
.social-list .social-item:hover .social-item__tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.social-list .social-item .social-item__link {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #1d1d1d;
  background-color: #dedede;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 599px) {
  .social-list .social-item .social-item__link {
    width: 35px;
    height: 35px;
  }
}
.social-list .social-item .social-item__link:hover {
  box-shadow: 3px 2px 45px 0px rgba(0, 0, 0, 0.12);
  color: #f1f1f1;
}
.social-list .social-item .social-item__link:hover .filled {
  height: 100%;
}
.social-list .social-item .social-item__link svg {
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 599px) {
  .social-list .social-item .social-item__link svg {
    width: 20px;
    height: 20px;
  }
}
.social-list .social-item .social-item__link .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.social-list .social-item .social-item__link[data-social=linkedin] .filled, .social-list .social-item .social-item__link[data-social=linkedin] ~ .social-item__tooltip {
  background-color: #0274b3;
}
.social-list .social-item .social-item__link[data-social=github] .filled, .social-list .social-item .social-item__link[data-social=github] ~ .social-item__tooltip {
  background-color: #24262a;
}
.social-list .social-item .social-item__link[data-social=instagram] .filled, .social-list .social-item .social-item__link[data-social=instagram] ~ .social-item__tooltip {
  background: linear-gradient(45deg, #405de6, #5b51db, #b33ab4, #c135b4, #e1306c, #fd1f1f);
}
.social-list .social-item .social-item__link[data-social=facebook] .filled, .social-list .social-item .social-item__link[data-social=facebook] ~ .social-item__tooltip {
  background-color: #475993;
}

.skills__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills__text {
  text-align: center;
  max-width: 100%;
  margin-bottom: 4rem;
  overflow-x: hidden;
  border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
  box-shadow: 0px -20px 30px -36px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}
.skills__text .row {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  transform: translateX(100%);
  white-space: nowrap;
  letter-spacing: 0.5vw;
}
@media screen and (max-width: 599px) {
  .skills__text .row {
    font-size: 1rem;
    letter-spacing: 0.2vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .skills__text .row {
    font-size: 1rem;
    letter-spacing: 0.2vw;
  }
}
.skills__text .row:hover {
  animation-play-state: paused;
  color: #930000;
  cursor: pointer;
}
.skills__text-1 {
  animation: moveText linear 60s -8s forwards infinite;
}
.skills__text-2 {
  animation: moveText linear 60s forwards infinite;
}
.skills__text-3 {
  animation: moveText linear 60s 8s forwards infinite;
}

@keyframes moveText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-150%);
  }
}
.skill-box__wrap {
  max-width: 50%;
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .skill-box__wrap {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 599px) {
  .skill-box__wrap {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.skill-box__wrap .skill-box {
  display: block;
  width: 100%;
  margin-bottom: 0.6rem;
}
.skill-box__wrap .skill-box .skill-bar {
  height: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background: #1d1d1d;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.html {
  width: 90%;
  animation-delay: 0.1s;
}
.skill-per.css {
  width: 80%;
  animation-delay: 0.1s;
}
.skill-per.javascript {
  width: 60%;
  animation-delay: 0.2s;
}
.skill-per.nodejs {
  width: 30%;
  animation-delay: 0.3s;
}
.skill-per.typescript {
  width: 30%;
  animation-delay: 0.4s;
}
.skill-per.react {
  width: 30%;
  animation-delay: 0.4s;
}
.skill-per .tooltip {
  position: absolute;
  right: -1rem;
  top: -2rem;
  font-size: 9px;
  padding: 2px 6px;
  border-radius: 0.2rem;
  background: #1d1d1d;
  color: #f1f1f1;
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background: #1d1d1d;
  transform: translateX(-50%) rotate(45deg);
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.hero__text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1.5em;
  max-width: 80%;
}
@media screen and (max-width: 599px) {
  .hero__text {
    max-width: 100%;
    text-align: center;
    font-size: 1.6rem;
  }
}
.hero__text-span {
  display: inline-block;
  font-size: 2.1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 599px) {
  .hero__text-span {
    font-size: 1.5rem;
    text-align: center;
  }
}
.hero__text.hero__text-swappable {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #930000;
  position: relative;
  display: inline-block;
  opacity: 0;
  transform: translateY(0);
}
@media screen and (max-width: 599px) {
  .hero__text.hero__text-swappable {
    font-size: 1.5rem;
  }
}
.hero__text.hero__text-swappable:empty {
  opacity: 0;
}
.hero__text.hero__text-swappable:not(:empty) {
  opacity: 1;
}
.hero__text.hero__text-swappable:not(:empty).slide--in {
  animation: text-swap-slide-in 0.4s ease-in;
}
@keyframes text-swap-slide-in {
  0% {
    transform: translateY(16px);
    opacity: 0;
  }
  30% {
    transform: translateY(2px);
    opacity: 0.8;
  }
  60% {
    transform: translateY(0);
    opacity: 0.95;
  }
  75%, 100% {
    opacity: 1;
  }
}
.hero__text.hero__text-swappable:not(:empty).slide--out {
  animation: text-swap-slide-out 0.25s ease-out;
}
@keyframes text-swap-slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-12px);
    opacity: 0.1;
  }
  60% {
    transform: translateY(-16px);
    opacity: 0.05;
  }
  75%, 100% {
    opacity: 0;
  }
}

/*       hero     */
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__heading {
  display: flex;
  margin-bottom: 17rem;
}
.hero__heading span {
  flex: 1;
  font-size: 7vw;
  font-family: "Special Elite", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 2.5vw;
}
@media screen and (max-width: 599px) {
  .hero__heading span {
    font-size: 2.5rem;
    letter-spacing: 1.5vw;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .hero__heading span {
    font-size: 5rem;
  }
}

canvas {
  width: 100vw;
  height: 8vh;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
canvas.overlay-opened {
  top: 2%;
  transform: translateX(-50%);
  width: 15%;
  position: fixed;
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  canvas {
    top: 25%;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  canvas {
    top: 38%;
  }
}

.hero {
  margin-bottom: 3rem;
}
.hero__introduction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.hero__links {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.projects__container .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.about__section {
  margin-bottom: 5rem;
}