@import "fonts";

// variables
//variables- only for colors or sizes in px or rem em
@import "variables";

//base & layout
@import "base";

@import "mixins";

@import "display";

@import "preloader";


//components (button, card, navbar)
@import "components/nav";
@import "components/bento-nav";
@import "components/sound-switch";


/*       hero     */

// hero section
.hero__container{
  @include flex();
  flex-direction: column;
}

.hero__heading {
  display: flex;
  margin-bottom: 22vh;

  span {
    flex: 1;
    font-size: 8.5vw;
    font-family: "Special Elite", sans-serif;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 1rem;
  }
}

// player red line
canvas {
  width: 100vw;
  height: 8vh;
  cursor: pointer;
  // z-index: 1;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    &.overlay-opened {
        top: 3%;
        /* Adjust this value for the desired top position */
        transform: translateX(-50%);
          width: 10vw;
      }
}



