@use "sass:math";

@use "media-queries.scss" as *;

@import "fonts";

// variables
//variables- only for colors or sizes in px or rem em
@import "variables";

//base & layout
@import "base";

@import "mixins";

@import "preloader";

//components (button, card, navbar)
@import "components/nav";
@import "components/bento-nav";
@import "components/sound-switch";
@import "components/contact-link";
@import "components/contacts-btn";
@import "components/footer";
@import "components/project-card";
@import "components/card-about";
@import "components/contact-form";

@import "text-infinite";
@import "swap-texthero";

/*       hero     */

// hero section
.hero__container {
  @include flex();
  flex-direction: column;
}

.hero__heading {
  display: flex;
  margin-bottom: 13rem;

  @include xs {
    margin-bottom: 17rem;
  }

  @include xl {
    margin-bottom: 17rem;
  }

  @include md {
    margin-bottom: 18rem;
  }
  @include sm {
    margin-bottom: 17rem;
  }

  span {
    flex: 1;
    font-size: 7vw;
    font-family: "Special Elite", sans-serif;
    font-weight: 400;
    // line-height: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 2.5vw;

    @include xs {
      font-size: 2.5rem;
      letter-spacing: 1.5vw;
    }
    @include xl {
      font-size: 5rem;
    }
  }
}

// player red line
canvas {
  width: 100vw;
  height: 8vh;

  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  // opacity: 0;

   &.overlay-opened {
    top: 2%;
    transform: translateX(-50%);
    width: 15%;
    position: fixed;
  }

  @include xl {
    top: 25%;
  }
  @include sm {
    top: 38%;

  }
}

.hero {
  margin-bottom: 3rem;

  &__introduction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // opacity: 0;
  }

  &__links {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
  }
}

// grid  projects section

.projects__container {
  .grid {
      @include flex();
      width: 100%;
      height: 100%;
    flex-wrap: wrap;
    //  @include xs {
    //   flex-direction: column;
    //  }
}
}

.about__section {
  margin-bottom: 5rem;
}
