@use "sass:math";

@use 'media-queries.scss' as *;

@import "fonts";

// variables
//variables- only for colors or sizes in px or rem em
@import "variables";

//base & layout
@import "base";

@import "mixins";

@import "preloader";

//components (button, card, navbar)
@import "components/nav";
@import "components/bento-nav";
@import "components/sound-switch";
@import "components/contact-link";
@import "components/contacts-btn";
@import "components/footer";
@import "components/project-card";
@import "components/card-about";
@import "components/contact-form";


@import "text-infinite";
@import "swap-texthero";


/*       hero     */

// hero section
.hero__container {
  @include flex();
  flex-direction: column;
}

.hero__heading {
  display: flex;
  margin-bottom: 13rem;

  @include xs {
    margin-bottom: 17rem;
  }

  span {
    flex: 1;
    font-size: 7vw;
    font-family: "Special Elite", sans-serif;
    font-weight: 400;
    // line-height: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 2.5vw;

    @include xs {
      font-size: 2.5rem;
          letter-spacing: 1.5vw;
    }
    @include xl {
      font-size: 5rem;

    }
  }
}

// player red line
canvas {
  width: 100vw;
  height: 8vh;

  cursor: pointer;
  // z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  // opacity: 0;


  &.overlay-opened {
    top: 2%;
    /* Adjust this value for the desired top position */
    transform: translateX(-50%);
    width: 10vw;
    position: fixed;
  }
}

.hero {
    margin-bottom: 3rem;

  &__introduction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // opacity: 0;
  }

  &__links {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
  }
}

// grid  projects section


.projects__container {
  padding: 0 5rem;
  // opacity: 0;

  @include xs{
      padding: 0;
  }

        @include sm {
          padding: 0;
        }

  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 10rem);
    width: inherit;
    height: inherit;
    overflow: hidden;
    grid-auto-flow: row;

    grid-template-areas:
      "b1 b1 b1 b1 b2 b2"
      "b1 b1 b1 b1 b2 b2"
      "b3 b3 b4 b4 b2 b2"
      "b3 b3 b4 b4 b2 b2"
      "b5 b5 b5 b5 b6 b6"
      "b5 b5 b5 b5 b6 b6"
      "b5 b5 b5 b5 b6 b6"
      "b5 b5 b5 b5 b6 b6";

      @include xs {
          @include flex();
          flex-direction: column;
            width: 100%;
              height: 100%;
      }

    .b1 {
      grid-area: b1;
    }
    .b2 {
      grid-area: b2;
    }
    .b3 {
      grid-area: b3;
    }
    .b4 {
      grid-area: b4;
    }
    .b5 {
      grid-area: b5;
    }
    .b6 {
      grid-area: b6;
    }
  }
}


