
.about__container {

  .about__text p {
    text-align: center;
    padding-bottom: 1rem;
  }
}

.card {
  margin: 0 auto;
  padding: 3rem 2rem 2rem;
  background-color: $bg-color-grey;
  width: 50%;
  height: 100%;
box-shadow: 26px 26px 33px #686868,
    -26px -26px 33px #ffffff;
  border-radius: .5rem;
  transition: 0.5s;
  transform: rotateX(-55deg) rotateY(15deg) rotateZ(60deg);
  font-weight: 300;
  @include flex();

  &:hover {
      transform: rotate(0deg);
      opacity: 1;
      box-shadow: -26px -26px 33px #686868,
          26px 26px 33px #ffffff;
    }
}


@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

