.btn {
  position: relative;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid $text-color;
  border-bottom: 5px solid $text-color;
  background-color: $bgr;
  border-radius: .5rem;
  overflow: hidden;
    transform: translate(0, -3px);
    transition: 0.2s;
      transition-timing-function: linear;

  &__icon,
  &__text,
  & {
    transition: all .3s;
  }

  & .btn__text {
    transform: translateX(22px);
    color: $text-color;
    font-weight: 500;
  }

  & .btn__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 2.5rem;
    background-color: $bg-color-grey;
    @include flex();
  }

  & svg {
    width: 1.5rem;
    fill: $text-color;
  }

    &:hover {
      background: $bg-color-grey;

      & .btn__text {
          color: transparent;
        }

        & .btn__icon {
          width: 9rem;
          transform: translateX(0);
        }
    }

    &:active {
      transform: translate(0, 0);
  border-bottom: 2px solid $text-color;
    }
}


@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
