.header {
  // font-size: 1rem;

  &__container {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    position: fixed;
    left: -23px;
    background: transparent;
        @include blur;

    @include xl {
      left: 13%;
    }
    @include xs {
      @include blur;
    }
    @include sm {
      @include blur;
    }
  }

  &__circular-text {
    flex: 1;
    // opacity: 0;
    padding-left: 4%;
    position: relative;
    z-index: 99;

    @include xs {
      font-size: 12px;
    }

    .text {
      position: absolute;
      font-weight: 500;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include xs {
        left: 61%;
      }
    }

    .header__logo {
      position: absolute;
      left: 5%;

      @include xs {
        padding-left: 3%;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
