.header {
  // font-size: 1rem;

  &__container {
        width: calc(100% - 1.2rem); // Adjust width according to your design
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 0 auto; // Center the container horizontally

    // width: 100%;
    // padding-top: 2rem;
    // padding-bottom: 3rem;
    position: fixed;
    // left: -23px;
    background: transparent;
        @include blur;
            @include xs {
                  width: calc(100% - 1.7rem)
              }
  }



  &__circular-text {
    position: relative;
    z-index: 99;
    top: 0;
    left: 2vw;

    @include xs {
      font-size: 12px;
    }

    .text {
      position: absolute;
      font-weight: 500;
      top: -145%;
      left: 53%;
      // transform: translate(-50%, -50%);
      // @include xs {
      //   left: 61%;
      // }
    }

    // .header__logo {
    //   position: relative;
    //   left: 0;

    //   // @include xs {
    //   //   padding-left: 3%;
    //   // }
    // }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
